* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 90vh;
    background-image: url(../COVID19_Public_Library_VIEW_13.jpg);
}
nav{
    width: 100%;
    height: 60px;
    box-shadow: 0 0 10px #000;
    background-color:#4FA0EC;
}
header {
    width: 80%;
    height: 60px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    color: white;
    font-size: 25px;
    text-decoration: none;
    flex: 0.4;
    list-style: none;
}

#menu {
    display: flex;
    list-style: none;
    align-items: center;
    flex: 1;
}

#menu li {
    margin-right: 33px;
    font-weight: bold;
    font-size: 18px;
}

#menu li a {
    text-decoration: none;
    color: white;
    padding: 12px;
    border-radius: 6px;
}

#menu li a:hover {
    background-color: #074783;
    transform: 0.3s;
}

#menu li ul {
    width: 19%;
    height: 22%;
    display: none;
    position: absolute;
    background-color: #074783;
    margin-top: 11px;
    padding: 10px;
    border-radius: 6px;
}

#menu li ul li {
    margin-top: 15px;
    list-style: none;
}

#menu li ul li a:hover {
    background-color: #376b9b;
}

#dropdown:hover ul {
    display: block;
}

.search-box{
    flex: 0.7;
    position: relative;
}
.search-box input{
    width: 100%;
    height: 36px;
    border: none;
    outline: none;
    background-color: #dfd7d7;
    border-radius: 9px;
    color: gray;
    font-size: 18px;
    padding-left: 10%;
}
button{
    width: 45px;
    height: 36px;
    cursor: pointer;
    border-radius: 9px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background-color: #dfd7d7;
}
.list {
    display: inline;
    color: azure;
}
.list li {
    display: inline-block;
}
ul li:hover ul {
    display: block;
}
.list li ul {
    width: 200px;
    position: absolute;
    display: none;
    background-color: #074783;
}
.list li ul li {
    display: block; 
    padding: 10px;
}
.list li ul li a {
    display: block !important;
    color: azure;
    text-decoration: none;
}
.list li ul li:hover {
    background-color: #376b9b;
}
.banner-event{
    height: 70vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../PIC/Imgevent/bg3.png);
}