* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 90vh;
    /* background-image: url(../COVID19_Public_Library_VIEW_13.jpg); */
}
nav{
    width: 100%;
    height: 60px;
    box-shadow: 0 0 10px #000;
    background-color: rgba(20, 20, 99, 0.849);
}
header {
    width: 80%;
    height: 60px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    color: white;
    font-size: 25px;
    text-decoration: none;
    flex: 0.4;
    list-style: none;
}

#menu {
    display: flex;
    list-style: none;
    align-items: center;
    flex: 1;
}

#menu li {
    margin-right: 33px;
    font-weight: bold;
    font-size: 18px;
}

#menu li a {
    text-decoration: none;
    color: white;
    padding: 12px;
    border-radius: 6px;
}

#menu li a:hover {
    background-color: #074783;
    transform: 0.3s;
}

#menu li ul {
    width: 19%;
    height: 22%;
    display: none;
    position: absolute;
    background-color: #074783;
    margin-top: 11px;
    padding: 10px;
    border-radius: 6px;
}

#menu li ul li {
    margin-top: 15px;
    list-style: none;
}

#menu li ul li a:hover {
    background-color: #376b9b;
}

#dropdown:hover ul {
    display: block;
}

.search-box{
    flex: 0.7;
    position: relative;
}
.search-box input{
    width: 100%;
    height: 36px;
    border: none;
    outline: none;
    background-color: #dfd7d7;
    border-radius: 9px;
    color: gray;
    font-size: 18px;
    padding-left: 10%;
}
button{
    width: 45px;
    height: 36px;
    cursor: pointer;
    border-radius: 9px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background-color: #dfd7d7;
}
.list {
    display: inline;
    color: azure;
}
.list li {
    display: inline-block;
}
ul li:hover ul {
    display: block;
}
.list li ul {
    width: 200px;
    position: absolute;
    display: none;
    background-color: #074783;
}
.list li ul li {
    display: block; 
    padding: 10px;
}
.list li ul li a {
    display: block !important;
    color: azure;
    text-decoration: none;
}
.list li ul li:hover {
    background-color: #376b9b;
}
.banner{
    height: 70vh;
    background-color: aqua;
}
.banner-event{
    height: 90vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../PIC/Imgevent/photo_2023-09-26_07-36-43.jpg);
}
.title-event{
    width: 80vh;
    padding: 4vh;
    font-size: 15px;
    border-radius: 2vh;
    background-color:#00000048;
}
h1{
    font-size: 55px;
}
h1,.title-event p{
   margin-left: 3vh;
   margin-bottom: 2vh;
    color: white;
}
.past-event{
    margin: 100px;
}
.img-past{
    width: 100vh;
    height: 135vh;
}
.card{
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.title-imgevent-past{
    font-size: 15px;
    margin-left: 5vh;
    
}

.title-imgevent-past h2{
    font-size: 35px;
    width: 100vh;
}
.title-imgevent-past p{
    font-size: 20px;
    width: 100vh;
}
.g-icon{
    width: 70vh;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
}
.icon{
    width: 50vh;
    display: flex;
    align-items: center;
}
.icon p{
    margin-left: 10px;
}
.past-event h1{
    color: black;
    font-size: 45px;
}


@media(min-width:1024px) {
    .list {
        display: none;
    }
    .title-event{
        width: 58vh;
        padding: 1vh;
    }
    .past-event{
        margin: 50px;
    }
    .card{
        display: flex;
    }
    .card img{
        width: 30vh;
        height: 30vh;
    }
    .title-imgevent-past{
        width: 50vh;
    }
    .g-icon{
        width: 50vh;
       
    }
    .past-event h1{
        margin-left: 0;
    }
}
@media(min-width:768px) and (max-width:1023px) {
    .list{
        display: none;
    }
    .title-event{
        width: 65vh;
        padding: 2vh;
    }
    .card{
        display: flex;
        height: 50vh;
    }
    .card img{
        width: 35vh;
        height: 33vh;
    }
    .past-event{
        margin: 50px;
    }
    .title-imgevent-past{
        margin-left: 2vh;
    }
    .g-icon,.title-imgevent-past{
        width: 56vh;
        font-size: 14px;
    }
    .title-imgevent-past p{
        font-size: 20px;
        width: 30vh;
    }
    .g-icon{
        display: grid;
        grid-template-columns: 1fr;
    }
    
   
}
@media (min-width:320px) and (max-width:767px) {
    .logo h3{
        display: none;
    }
    #menu{
        display: none;
    }
    .title-event{
        width: 60vh;
        padding: 1vh;
    }
    h1{
        font-size: 45px;
    }
    .title-event p{
        margin-left: 3vh;
        margin-bottom: 2vh;
        font-size: 10px;
        
    }
    .banner-event{
        width: 106vh;
    }
    header {
        width: 100%;
        height: 10px;
    }
    .past-event h1{
        margin-left: 0;
        font-size: 40px;
    }
    .past-event{
        margin: 30px;
        height: 350vh;
    }
    .card{
        height: 110vh;
        display: grid;
        grid-template-columns: 1fr;
       
    }
    .g-icon,.title-imgevent-past{
        width: 56vh;
        font-size: 10px;

    }
    .title-imgevent-past{
        width: 85vh;
        margin-left: 0;
        display: grid;
        grid-template-columns: 1fr;
    }
    .g-icon{
      
        width: 20vh;
        display: grid;
        grid-template-columns:repeat(3,1fr);
    }
    .icon{
        width: 32vh;
        display: grid;
        grid-template-columns: 1fr;
    }
    .icon p{
        margin-left: 4vh;
        font-size: small;
    }
    .icon i{
        width: 10vh;
        margin-left: 5vh;
        padding-bottom: 2vh;
    }
    
   
}
