nav {
  background-color: rgba(20, 20, 99, 0.849);
  width: 100%;
  height: 60px;
  box-shadow: 0 0 10px #000;
}

header {
  width: 80%;
  height: 60px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 600px) {
  header {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

#menu {
  display: flex;
  list-style: none;
  align-items: center;
  flex: 1;
}
@media screen and (max-width: 600px) {
  #menu {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .logo h3 {
    display: none;
  }
}

#menu li {
  margin-right: 33px;
  font-weight: bold;
  font-size: 18px;
}

#menu li a {
  text-decoration: none;
  color: white;
  padding: 12px;
  border-radius: 6px;
}

#menu li a:hover {
  background-color: #074783;
  transform: 0.3s;
}

#menu li ul {
  background-color: #074783;
  width: 280px;
  height: 140px;
  display: none;
  position: absolute;
  margin-top: 11px;
  padding: 10px;
  border-radius: 6px;
}

#menu li ul li {
  margin-top: 15px;
  list-style: none;
}

#menu li ul li a:hover {
  background-color: #376b9b;
}

#dropdown:hover ul {
  display: block;
}

.search-box {
  flex: 0.7;
  position: relative;
}
@media screen and (max-width: 600px) {
  .search-box {
    flex: 0.5;
  }
}

.search-box input {
  background-color: #dfd7d7;
  width: 100%;
  height: 36px;
  border: none;
  outline: none;
  border-radius: 9px;
  color: gray;
  font-size: 18px;
  padding-left: 10%;
}

button {
  background-color: #dfd7d7;
  width: 45px;
  height: 36px;
  cursor: pointer;
  border-radius: 9px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.9);
}

.list {
  display: inline;
  color: azure;
}
@media screen and (max-width: 1400px) {
  .list {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .list {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .list {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .list {
    display: inline-block;
  }
}

.list li {
  display: inline-block;
}

ul li:hover ul {
  display: block;
}

.list li ul {
  background-color: #074783;
  width: 200px;
  position: absolute;
  display: none;
}
@media screen and (max-width: 600px) {
  .list li ul {
    width: 48%;
    height: 39%;
    border-radius: 9px;
  }
}

.list li ul li {
  display: block;
  padding: 10px;
}

.list li ul li a {
  display: block !important;
  color: azure;
  text-decoration: none;
}

.list li ul li:hover {
  background-color: #376b9b;
  border-radius: 9px;
}

footer {
  background-color: rgb(79, 79, 79);
  height: 47vh;
  padding-top: 21px;
}
@media screen and (max-width: 900px) {
  footer {
    height: 42vh;
  }
}
@media screen and (max-width: 600px) {
  footer {
    height: 93vh;
  }
}

.footer {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  color: rgb(212, 202, 202);
}
@media screen and (max-width: 600px) {
  .footer {
    padding-left: 10px;
    margin: 0;
  }
}

.footer-top {
  height: 35vh;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .footer-top {
    height: 29vh;
  }
}
@media screen and (max-width: 600px) {
  .footer-top {
    height: 75vh;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .footer-right {
    display: flex;
    gap: 10px;
  }
}

ul li {
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: rgb(212, 202, 202);
}

.footer a:hover {
  color: blueviolet;
}

.cu-group {
  display: grid;
  gap: 10px;
}
@media screen and (max-width: 600px) {
  .cu-group {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.cu-item a {
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 600px) {
  .cu-item a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 600px) {
  .footer-bottom {
    height: 14vh;
  }
}

.footer-bottom a img {
  width: 45px;
  height: 3%;
}
@media screen and (max-width: 600px) {
  .footer-bottom a img {
    width: 35px;
  }
}

#whatup {
  width: 35px;
  height: 2%;
}
@media screen and (max-width: 600px) {
  #whatup {
    width: 25px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.book-page {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.tittle {
  font-size: 26px;
  font-weight: bold;
  padding: 0 0 15px 0;
}
@media screen and (max-width: 900px) {
  .tittle {
    font-size: 23px;
    font-weight: bold;
  }
}

.tittle-book {
  font-size: 20px;
}
@media screen and (max-width: 900px) {
  .tittle-book {
    font-size: 18px;
  }
}

.tittle-book:hover {
  cursor: pointer;
  color: blueviolet;
}

@media screen and (max-width: 900px) {
  p {
    font-style: 14px;
  }
}

.contain-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 15px;
}
@media screen and (max-width: 900px) {
  .contain-card {
    grid-template-columns: repeat(3, 1fr);
    gap: 2px 15px;
  }
}
@media screen and (max-width: 600px) {
  .contain-card {
    grid-template-columns: 1fr;
    gap: 2px 15px;
  }
}

.card {
  width: 100%;
  height: 444px;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  gap: 3px;
}
@media screen and (max-width: 900px) {
  .card {
    width: 85%;
    height: 430px;
  }
}
@media screen and (max-width: 600px) {
  .card {
    height: 183px;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
  }
}

.gp-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  height: 330px;
}
@media screen and (max-width: 900px) {
  img {
    height: 280px;
  }
}
@media screen and (max-width: 600px) {
  img {
    width: 120px;
    height: 180px;
  }
}

.card .gp-pic img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 1400px) {
  .card .gp-pic img {
    position: relative;
    z-index: -1;
  }
}
@media screen and (max-width: 1024px) {
  .card .gp-pic img {
    position: relative;
    z-index: -1;
  }
}
@media screen and (max-width: 900px) {
  .card .gp-pic img {
    position: relative;
    z-index: -1;
  }
}
@media screen and (max-width: 600px) {
  .card .gp-pic img {
    position: relative;
    z-index: -1;
  }
}

.gp-pic:hover img {
  transform: scale(0.9);
  cursor: pointer;
}

.material-symbols-outlined, .material-symbols-rounded {
  color: yellow;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
@media screen and (max-width: 600px) {
  .pagination {
    margin-top: 15px;
  }
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid rgb(138, 132, 132);
}

.pagination a.active {
  background-color: rgba(20, 20, 99, 0.849);
  color: white;
  border: 1px solid rgba(20, 20, 99, 0.849);
}

.pagination a:hover:not(.active) {
  background-color: rgba(20, 20, 99, 0.849);
  color: white;
}