@import "../main.scss";
@import "../responsive/responsive.scss";

.navbar>section {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 25px;
}

main {
    animation: 5s linear 0s infinite running youSlide;
}

@keyframes youSlide {
    10% {background-color: white;}

    20% {background-color: #69b64d48;}

    50% {background-color: rgba(13, 132, 206, 0.644);}
}

.banner {
    height: 60vh;

}

.banner-event {
    height: 90vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../PIC/Imgevent/bg3.png);
    @include responsive(Tablet) {
        width: 100%;
        height: 45vh;
    }

    @include responsive(Mobile) {
        width: 100%;
        height: 70vh;
    }
   
}
.card , .img img ,.title-imgevent-past{
    @include responsive (Tablet){
        transition: 2s ease-in-out;

    }



}

.title-event {
    height: 30vh;
    width: 120vh;
    transition: .8s;
    padding: 4vh;
    font-size: 22px;
    border-radius: 2vh;
    background-color: #00000048;

    @include responsive(Tablet) {
        width: 70%;
        height: 25vh;
        padding: 2vh;
    }

    @include responsive(Mobile) {
        width: 75%;
        height: 20vh;
        padding: 0vh;
        padding-right: 1vh;
        font-size: 16px;
    }
}

.title-event h1 {
    font-size: 55px;
    animation: 4s linear 0s infinite running mySlide;

    @include responsive(Mobile) {
        font-size: 30px;
    }
}

@keyframes mySlide {
    from {margin-left: 20%}
    to {margin-left: 0%}
}

h1,
.title-event p {
    margin-left: 3vh;
    margin-bottom: 2vh;
    color: white;
}

.card {
    width: 100%;
    border-bottom: 9px solid rgba(128, 128, 128, 0.268);
    border-right: 4px solid rgba(128, 128, 128, 0.268);
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include responsive(Tablet) {
        display: grid;
        width: 100%;
        height: 40vh;
    }

    @include responsive(Mobile) {
        width: 100%;
        height: 93vh;
        border-right: none;
        gap: 0px;
        grid-template-columns: repeat(1, 1fr);
    }
}

.card:hover {
    background-color: white;

}

.past-event,
.incoming-event {
    margin: 80px;

    @include responsive(Tablet) {
        margin: 30px;
    }
    @include responsive(Mobile) {
        margin: 10px;
    }

}

.past-event h1,
.incoming-event h1 {
    color: black;
    font-size: 35px;

    @include responsive(Mobile) {
        font-size: 29px;
    }
    
    @include responsive(Tablet) {
        font-size: 25px;
    }
}

.title-imgevent-past {
    height: 70vh;
    display: grid;
    gap: 0px;

    p {
        @include responsive(Mobile) {
            width: 110%;
        }
    }

    h2 {
        margin-bottom: 0vh;
    }
}
.past-event p {
    @include responsive(Tablet) {
        font-size: 13px;
    }
}

.img img {
    @include responsive(Tablet) {
        width: 25vh;
        height: 25vh;
      
      
    }
    @include responsive(Mobile) {
        height: 40vh;
        width: 61%;
        margin-top: 0;
    }
}

.img {
    transition: 2s;
    width: 75vh;
    height: 65vh;
    display: grid;
    margin-top: 5vh;

    @include responsive(Tablet) {
        width: 26vh;
        height: 25vh;
    }

    @include responsive(Mobile) {
        width: 70%;
        margin-top: 0px;
    }
}

.text-img p {
    @include responsive(Mobile) {
        height: 20vh;
        margin-right: 2vh;
        margin-top: 0vh;

    }
}

.text-img,.img {
    @include responsive(Tablet) {
        margin-top: 5px;
    }
}

.text-img p {
    @include responsive(Mobile) {
        font-size: 16px;
        margin-top: 0;

    }
}

.text-img h2 {
    @include responsive(Tablet) {
        font-size: 20px;
    }

    @include responsive(Mobile) {
        margin-top: 0vh;

    }

}

.title-imgevent-past {
    font-size: 26px;
    margin-left: 5vh;

    @include responsive(Tablet) {
        width: 30%;
        height: 45vh;
        margin-left: 1vh;
    }

    @include responsive(Mobile) {
        height: 55vh;
        width: 39%;
        margin-top: 15vh;
        margin-left: 2vh;
        margin-right: 2vh;

    }
}

.title-imgevent-past h2 {
    font-size: 30px;
    width: 100vh;
    margin-top: 5vh;
    @include responsive(Tablet) {
       margin-top: 2vh;
       font-size: 25px;
    }
}

.title-imgevent-past p {
    width: 90%;

    @include responsive(Tablet) {
        width: 30%;
        font-size: 21px;
    }

    @include responsive(Mobile) {
        width: 39%;
        height: 13vh;
        font-size: 20px;
    }
}

.g-icon {
    height: 20vh;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);


    @include responsive(Tablet) {
        width: 30%;
        height: 10vh;
        margin-bottom: 10vh;
        gap: 5px;
        margin-top: 0;

    }

    @include responsive(Mobile) {
        width: 10%;
        height: 5vh;
        margin-bottom: 10vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    i {
        width: 10%;

        @include responsive(Tablet) {
            width: 7px;
        }

        @include responsive(Mobile) {
            display: none;
            margin-left: 5vh;
            background-color: chocolate;
        }


    }

    @include responsive(Mobile) {
        width: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }




}

.icon p {
    margin-right: 30vh;
    margin-top: 1vh;
    width: 100%;
    font-size: 15px;


    @include responsive(Tablet) {
        margin-left: 25px;
       
    }

    @include responsive(Mobile) {
        height: 15px;
        margin-top: 0vh;
        font-size: 14px;

    }

}

.search-box input {
    @include responsive(Mobile) {
        width: 100%;
        height: 20px;
        font-size: small;
    }

}
button {
    @include responsive(Mobile) {
        width: 20px;
        height: 3px;
    }
}
