* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 60px;
    box-shadow: 0 0 10px #000;
    background-color: rgba(79, 160, 236);
   
}

header {
    width: 80%;
    height: 60px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    color: white;
    font-size: 25px;
    text-decoration: none;
    flex: 0.4;
    list-style: none;
}

#menu {
    display: flex;
    list-style: none;
    align-items: center;
    flex: 1;
}

#menu li {
    margin-right: 33px;
    font-weight: bold;
    font-size: 18px;
}

#menu li a {
    text-decoration: none;
    color: white;
    padding: 12px;
    border-radius: 6px;
}

#menu li a:hover {
    background-color: #074783;
    transform: 0.3s;
}

#menu li ul {
    width: 19%;
    display: none;
    position: absolute;
    height: 22%;
    background-color: #074783;
    margin-top: 11px;
    padding: 10px;
    border-radius: 6px;
}

#menu li ul li {
    margin-top: 15px;
    list-style: none;
    z-index: 1;
}

#menu li ul li a:hover {
    background-color: #376b9b;
}

#dropdown:hover ul {
    display: block;

}

.search-box {
    flex: 0.7;
    position: relative;
}

.search-box input {
    width: 100%;
    height: 36px;
    border: none;
    outline: none;
    background-color: #dfd7d7;
    border-radius: 9px;
    color: rgb(210, 199, 199);
    font-size: 18px;
    padding-left: 10%;
}



.list {
    display: inline;
    color: azure;
}

.list li {
    display: inline-block;
}

ul li:hover ul {
    display: block;
}

.list li ul {
    width: 200px;
    background-color: #074783;
    position: absolute;
    display: none;
}

.list li ul li {
    display: block;
    padding: 10px;
}

.list li ul li a {
    display: block !important;
    color: azure;
    text-decoration: none;
}

.list li ul li:hover {
    background-color: #376b9b;
}

form>button {
    cursor: pointer;
    width: 45px;
    height: 36px;
    border-radius: 9px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background-color: #dfd7d7;
}

.banner-event {
    height: 90vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../PIC/Imgevent/contact.png);
}

.form2 {
    background-color: rgba(0, 0, 0, 0.459);
    width: 85vh;
    height: 80vh;
    margin-left: 95vh;
    border-radius: 10px;
    transition: all 1s;
}
.form2:hover{
    background-color: #bdccda28;
}

.form2 h3 {
    text-align: center;
    font-size: 35px;
    margin: 3vh;
    color: white;
    animation: 2s linear 0s infinite running mySlide;
}
@keyframes mySlide{
    from{margin-left:10%}
    to{margin-left:0%}
}

.input-name {
    display: grid;
    gap: 20px;

}

.input-name input {
    width: 87%;
    height: 6vh;
    border-radius: 6px;
    border: none;
    font-size: 25px;
    text-align: center;


}

.input-name input,
#Comment {
    margin-left: 5vh;
    background: rgba(255, 255, 255, 0.696);

}

.Range,
.group-radio {
    display: flex;
}

.radio {
    color: #d4dce4;
    margin-left: 3vh;
    display: grid;
    grid-template-columns: 1fr;
}

.radio input {
    width: 2.5vh;
    height: 7vh;
    background-color: red;
}

.Range {
    margin-top: 5vh;
    margin-left: 8vh;
    font-size: 30px;
}

.Range,
#Comment {
    width: 87%;
}

.Range h4 {
    color: white;
}

.Range input,
#submit,
button {
    cursor: pointer;
}

#Comment {
    height: 15vh;
    margin-left: 5vh;
    margin-top: 3vh;
    border-radius: 7px;
    font-size: 25px;
    text-align: center;
    border: none;

}

.submit button {
    margin-left: 10vh;
}

.submit {
    width: 20px;
    gap: 20vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#submit {
    margin-left: 5vh;


}

.submit button,
#submit {
    margin-top: 5vh;
}
#submit:hover{
    background-color: #376b9b;
}
.submit button:hover{
    background-color: #376b9b;

}

#submit,
button {
    width: 20vh;
    font-size: 22px;
    border-radius: 10px;
    border: none;
    color: wheat;
    padding: 1.3vh;
    padding-left: 3vh;
    padding-right: 3vh;
    background-color: red;
}

.media {
    height: 15vh;
    width: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media h2 {
    font-size: 30px;
}

.g-media a img {
    width: 45px;
    height: 3%;
    margin-left: 2vh;
}

.g-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.map {
    height: 80vh;
    width: 100%;
}
.map iframe {
    width: 100%;
    height: 100%;
}

footer {
    background-color: rgba(79, 79, 79, 1);
    height: 47vh;
    padding-top: 21px;
}

.footer {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    color: rgb(212, 202, 202);
}

.footer-top {
    height: 35vh;
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: rgb(212, 202, 202);
}

.footer a:hover {
    color: blueviolet;
}

.cu-group {
    display: grid;
    gap: 10px;
}

.cu-item a {
    display: flex;
    gap: 15px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer-bottom a img {
    width: 45px;
    height: 3%;
}

#whatup {
    width: 35px;
    height: 2%;
}

.title-location {
    display: none;
}

@media(min-width:1024px) {
    .list {
        display: none;
    }

    .title-location {
        display: none;
    }
}

@media(min-width:768px) and (max-width:1023px) {
    .list {
        display: none;
    }

    .Range {
        display: none;
    }
    .input-name input:hover{
        background-color: #d4dce4;
    }
    #Comment:hover{
        background-color: #d4dce4;
    
    }

    .range-number {
        display: flex;
        color: white;
        font-size: 20px;
        margin-left: 5vh;
        margin-top: 5vh;
    }

    .form2 {
        height: 75vh;
        width: 55vh;
        margin-left: 35vh;
    }

    .form2 input {
        height: 4vh;

    }

    #Comment,
    .form2 input {
        margin-left: 3.5vh;
        font-size: 16px;
    }

    .submit {
        display: grid;
        gap: 1px;

    }

    .submit button {
        margin-left: 6vh;

    }
    .banner-event{
        height: 100vh;
        width: 100%;
    }


    #submit {
        margin-left: 100px;
    }

    #submit,
    .submit button {
        width: 15vh;
        height: 35px;
        font-size: 15px;
        padding-left: 0vh;
        padding-right: 0vh;


    }

    .title-location {
        display: none;
    }





}

@media (min-width:320px) and (max-width:767px) {
    .logo h3 {
        display: none;
    }

    #menu {
        display: none;
    }

    .media {
        display: none;

    }
    .input-name input:hover{
        background-color: #d4dce4;
    }
    #Comment:hover{
        background-color: #d4dce4;
    
    }

    .title-location {
        display: flex;
        margin-left: 40vh;
        margin-top: 10vh;
        margin-bottom: 10vh;

    }

    .form2 {
        width: 65vh;
        margin-left: 27vh;
    }
    .form2 input,
    #Comment {
        width: 79%;
        margin-left: 6vh;
        border-radius: 4px;
        font-size: 10px;
    }
    .banner-event{
        height: 90vh;
    }

    .submit {
        display: grid;
        margin-left: 2vh;
    }

    /* .button,
    #submit {
        width: 10vh;
        border-radius: 2px;
        font-size: 6px;
        padding: 1vh;

    } */

    /* .submit button {
        margin-left: 8vh;

    } */

    .form2 h3 {
        font-size: 18px;
    }

    .Range {
        display: none;
    }
    footer {
        height: 77vh;
    }
    .footer {
        padding-left: 10px;
        margin: 0;
        flex-direction: column;
    }
    .footer-top {
        height: 63vh;
        flex-direction: column;
    }
    .footer-right {
        display: flex;
        gap: 10px;
    }
    .cu-group {
        display: flex;
    }
    .cu-item a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 15px;
    }
    p {
        font-size: 12px;
    }

}