* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    width: 100%;
    height: 60px;
    box-shadow: 0 0 10px #000;
    background-color: rgba(79, 160, 236);

}

header {
    width: 80%;
    height: 60px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    color: white;
    font-size: 25px;
    text-decoration: none;
    flex: 0.4;
    list-style: none;
}

#menu {
    display: flex;
    list-style: none;
    align-items: center;
    flex: 1;
}

#menu li {
    margin-right: 33px;
    font-weight: bold;
    font-size: 18px;
}

#menu li a {
    text-decoration: none;
    color: white;
    padding: 12px;
    border-radius: 6px;
}

#menu li a:hover {
    background-color: #074783;
    transform: 0.3s;
}

#menu li ul {
    width: 19%;
    height: 22%;
    display: none;
    position: absolute;
    background-color: #074783;
    margin-top: 11px;
    padding: 10px;
    border-radius: 6px;
}

#menu li ul li {
    margin-top: 15px;
    list-style: none;
}

#menu li ul li a:hover {
    background-color: #376b9b;
}

#dropdown:hover ul {
    display: block;
}

.search-box {
    flex: 0.7;
    position: relative;
}

.search-box input {
    width: 100%;
    height: 36px;
    border: none;
    outline: none;
    background-color: #dfd7d7;
    border-radius: 9px;
    color: gray;
    font-size: 18px;
    padding-left: 10%;
}

button {
    width: 45px;
    height: 36px;
    cursor: pointer;
    border-radius: 9px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background-color: #dfd7d7;
}

.list {
    display: inline;
    color: azure;
}

.list li {
    display: inline-block;
}

ul li:hover ul {
    display: block;
}

.list li ul {
    width: 200px;
    position: absolute;
    display: none;
    background-color: #074783;
}

.list li ul li {
    display: block;
    padding: 10px;
}

.list li ul li a {
    display: block !important;
    color: azure;
    text-decoration: none;
}

.list li ul li:hover {
    background-color: #376b9b;
}

.navbar>section {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 25px;
}

main {
    animation: 5s linear 0s infinite running youSlide;
}

@keyframes youSlide {
    10% {
        background-color: white;
    }

    20% {
        background-color: #69b64d48;
    }

    50% {
        background-color: rgba(13, 132, 206, 0.644);
    }
}

.banner {
    height: 60vh;

}

.banner-event {
    height: 90vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../PIC/Imgevent/bg3.png);
}

.title-event {
    height: 30vh;
    width: 120vh;
    transition: .6s;
    padding: 4vh;
    font-size: 26px;
    border-radius: 2vh;
    background-color: #00000048;
}

.title-event h1 {
    font-size: 55px;
    animation: 4s linear 0s infinite running mySlide;
}

@keyframes mySlide {
    from {
        margin-left: 20%
    }

    to {
        margin-left: 0%
    }
}

h1,
.title-event p {
    margin-left: 3vh;
    margin-bottom: 2vh;
    color: white;
}

.past-event {
    margin: 80px;
}

.incoming-event {
    margin: 80px;

}

.past-event h1,
.incoming-event h1 {
    color: black;
    font-size: 45px;
}

.img {
    transition: 2s;
    width: 60vh;
    height: 45vh;
    display: grid;
    margin-top: 5vh;
}

.card {
    width: 182vh;
    border-bottom: 9px solid rgba(128, 128, 128, 0.268);
    border-right: 4px solid rgba(128, 128, 128, 0.268);
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card:hover {
    background-color: white;
    transition: 2s;
}

.title-imgevent-past {
    font-size: 26px;
    margin-left: 5vh;

}

.title-imgevent-past h2 {
    font-size: 35px;
    width: 100vh;
    margin-top: 5vh;
}

.title-imgevent-past p {
    width: 114vh;
}

.g-icon {
    width: 20vh;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}

.icon {
    width: 50vh;
    display: flex;
    align-items: center;
}

.icon p {
    margin-left: 10px;
}




@media(min-width:1024px) {
    .list {
        display: none;
    }
}

@media(min-width:768px) and (max-width:1023px) {
    .list {
        display: none;
    }

    #menu li {
        width: 7vh;
        font-size: 10px;
    }

    .logo {
        font-size: 15px;
        flex: 0.3;
    }

    .title-event {
        width: 65vh;
        padding: 2vh;
    }

    .card {
        display: grid;

    }


    .incoming-event,
    .past-event {
        margin: 30px;
    }

    .img {
        width: 35vh;
        height: 25vh;
    }


    .text-img,
    .img {
        margin-top: 5px;

    }

    .text-img h2 {
        font-size: 20px;
    }

    .past-event p {
        font-size: 13px;
    }

    .title-imgevent-past p {
        width: 50vh;


    }

    .card {
        width: 100%;
    }

    .g-icon {
        gap: 5px;
        margin-top: 0;

    }

    .icon i {
        width: 7px;

    }

    .icon p {
        margin-left: 25px;
    }

    .incoming-event p {
        font-size: 13px;

    }



}

@media (min-width:320px) and (max-width:767px) {
    nav {
        height: 40px;
    }

    .logo h3 {
        display: none;

    }

    .list h2 {
        font-size: 15px;
    }

    #menu {
        display: none;
    }

    .list {
        width: 30vh;
    }





    
    .title-event {
        width: 55vh;
        padding: 0vh;
        font-size: 8px;
    }

    .title-event h1 {
        font-size: 20px;

    }

    .banner-event {
        height: 50vh;
        width: 100%;
    }

    .search-box input {
        width: 100%;
        height: 20px;
        font-size: small;
    }

    button {
        width: 20px;
        height: 3px;

    }

    .incoming-event h1,
    .past-event h1 {
        font-size: 19px;
    }

    .text-img {
        width: 0%;
        height: 50vh;
        margin-top: 0vh;

    }

    .text-img p,
    .icon p {
        font-size: 12px;

    }

    .text-img h2,
    .text-img p,
    .text-img,
    .title-imgevent-past {
        width: 75vh;
    }

    .text-img h2,
    .text-img p {
        margin-top: 0vh;

    }

    .img {
        width: 100%;
        margin-top: 0px;

    }

    .img img {
        height: 45vh;
    }

    .g-icon {
        margin-top: 0vh;
        width: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .icon {
        width: 120px;
        height: 20vh;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .icon i {
        width: 1vh;
        height: 5px;
        margin-left: 7vh;
    }

    .icon p {
        height: 15px;
        width: 120px;
        margin-top: 5vh;
        font-size: 10px;
    }

    .icon:nth-child(2) {
        display: none;
    }

    .card {
        width: 100%;
        height: 125vh;
        border-right: none;
        gap: 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .incoming-event,
    .past-event {
        margin: 10px;

    }

    .title-imgevent-past {
        height: 70vh;
        display: grid;
        gap: 0px;

    }

    .title-imgevent-past p {
        width: 110%;
    }

    .title-imgevent-past h2 {
        font-size: 17px;
        margin-bottom: 0vh;
    }
}